.light {
  color: var(--color-foreground);
  color-scheme: light;

  --color-foreground: var(--color-neutral-50);
  --color-foreground-subtle: var(--color-neutral-400);
  --color-foreground-subtler: var(--color-neutral-500);

  & *::selection {
    background-color: var(--color-neutral-700);
  }
}

.dark {
  color-scheme: dark;
}

.serif {
  font-family: var(--font-serif);
}

.singleError {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;

  & .errorText {
    font-size: var(--font-sm);
    text-align: center;
  }
}

.logo {
  position: sticky;
  top: 20px;
  z-index: 99;
  width: 20px;
  height: 20px;
  margin-top: 120px;
  background: light-dark(var(--color-neutral-50), var(--color-neutral-950));
  border-radius: 50%;
}

.header {
  padding: 40px 0 60px;

  & .name {
    font-weight: 500;
    color: var(--color-foreground);
  }

  & .description {
    margin-top: 4px;
    color: var(--color-foreground-subtle);
  }

  & .profileVisits {
    position: relative;
    display: inline-flex;
    column-gap: 6px;
    align-items: center;
    padding: 6px 12px;
    margin-top: 20px;
    font-family: var(--font-mono);
    font-size: var(--font-2xsm);
    line-height: 0;
    color: var(--color-foreground-subtler);
    text-decoration: none;
    border: 1px solid
      light-dark(var(--color-neutral-800), var(--color-neutral-200));
    border-radius: 1000px;

    & strong {
      color: var(--color-foreground-subtle);
    }
  }
}

.footer {
  padding-bottom: 50px;
  margin-top: 80px;
  font-size: var(--font-sm);
  color: var(--color-foreground-subtle);

  & a {
    font-weight: 500;
    color: var(--color-foreground);
    text-decoration: none;
  }
}

.errors {
  padding: 120px 0;
}

.errorTitle {
  margin-bottom: 20px;
  font-weight: 500;
  color: var(--color-foreground);
}

.error {
  font-size: var(--font-sm);
  color: var(--color-foreground-subtle);

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }

  & span {
    font-family: var(--font-mono);
    color: var(--color-foreground);
  }
}
